<ul class='collection' role='label-container'>
	<li class='item' role='flow-label'>
		<a class='btn btn-primary' href='#'>131</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-default' href='#'>adad</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>33</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-danger' href='#'>ada</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-info' href='#'>f322</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-warning' href='#'>23rwd</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-primary' href='#'>;d;a</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>11q</a>
	</li>
	<li class='item' role='flow-label'>
		<a class='btn btn-primary' href='#'>131</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-default' href='#'>adad</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>33</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-danger' href='#'>ada</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-info' href='#'>f322</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-warning' href='#'>23rwd</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-primary' href='#'>;d;a</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>11q</a>
	</li>
	<li class='item' role='flow-label'>
		<a class='btn btn-primary' href='#'>131</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-default' href='#'>adad</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>33</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-danger' href='#'>ada</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-info' href='#'>f322</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-warning' href='#'>23rwd</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-primary' href='#'>;d;a</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>11q</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-info' href='#'>f322</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-warning' href='#'>23rwd</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-primary' href='#'>;d;a</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>11q</a>
	</li>
	<li class='item' role='flow-label'>
		<a class='btn btn-primary' href='#'>131</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-default' href='#'>adad</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>33</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-danger' href='#'>ada</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-info' href='#'>f322</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-warning' href='#'>23rwd</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-primary' href='#'>;d;a</a>
	</li>
	<li class="item" role='flow-label'>
		<a class='btn btn-success' href='#'>11q</a>
	</li>
</ul>
