<nav>
    <div class='navbar'>
      <div class='logo'>
        <p>LOGO</p>
      </div>
      <ul class='right'>
        <li><a href="#">ABC</a></li>
        <li><a href="#">DEF</a></li>
        <li><a href="#">GHI</a></li>
        <li><a href="#">JKL</a></li>
        <li><a href="#">MNO</a></li>
      </ul>
  </div>
</nav>
