<div class='box-header'>
	<h2>Students</h2>
</div>
<div class='box-body'>
	<table class='table .table-hover'>
		<thead>
			<tr class='tr'>
				<td class='td'>Name</td>
				<td class='td'>sex</td>
				<td class='td'>address</td>
				<td class='td'>subject</td>
			</tr>
		</thead>
		<tbody>
			<ul class='students-collection'>
				<li class='students-list'>
					<tr class='vertical-middle'>
						<td>XIAOMING</td>
						<td>FEMALE</td>
						<td>NANJING</td>
						<td>COMPUTER</td>
						<td><button class='btn btn-sm  btn-primary'>VIEW</button></td>
					</tr>
			</li>
			<li class='students-list'>
				<tr class='vertical-middle'>
					<td>XIAOMING</td>
					<td>MALE</td>
					<td>NANJING</td>
					<td>COMPUTER</td>
					<td><button class='btn btn-sm  btn-primary'>VIEW</button></td>
				</tr>
			</li>
			<li class='students-list'>
				<tr class='vertical-middle'>
					<td>XIAOMING</td>
					<td>FEMALE</td>
					<td>NANJING</td>
					<td>COMPUTER</td>
					<td><button class='btn btn-sm  btn-primary'>VIEW</button></td>
				</tr>
			</li>
			<li class='students-list'>
				<tr class='vertical-middle'>
					<td>XIAOMING</td>
					<td>FEMALE</td>
					<td>NANJING</td>
					<td>COMPUTER</td>
					<td><button class='btn btn-sm  btn-primary'>VIEW</button></td>
				</tr>
			</li>
			<li class='students-list'>
				<tr class='vertical-middle'>
					<td>XIAOMING</td>
					<td>FEMALE</td>
					<td>NANJING</td>
					<td>COMPUTER</td>
					<td><button class='btn btn-sm  btn-primary'>VIEW</button></td>
				</tr>
			</li>
			<li class='students-list'>
				<tr class='vertical-middle'>
					<td>XIAOMING</td>
					<td>FEMALE</td>
					<td>NANJING</td>
					<td>COMPUTER</td>
					<td><button class='btn btn-sm  btn-primary'>VIEW</button></td>
				</tr>
			</li>
		</ul>
		</tbody>
	</table>
</div>
