<div class='box-header'>
	<h2>Teachers</h2>
</div>
<div class='box-body'>
	<ul class='collection'>
		<li class='list-item'>
			<img src='' alt=''>
			<div class='information'>AAAAA</div>
		</li>
		<li class='list-item'>
			<img src='' alt=''>
			<div class='information'>AAAAA</div>
		</li>
		<li class='list-item'>
			<img src='' alt=''>
			<div class='information'>AAAAA</div>
		</li>
		<li class='list-item'>
			<img src='' alt=''>
			<div class='information'>AAAAA</div>
		</li>
		<li class='list-item'>
			<img src='' alt=''>
			<div class='information'>AAAAA</div>
		</li>
		<li class='list-item'>
			<img src='' alt=''>
			<div class='information'>AAAAA</div>
		</li>
	</ul>
</div>
