<div class='box-header'>
	<h2>Teachers</h2>
</div>
<div class='box-body'>
	<ul class='collection'>
		<% if !@teachers.nil? %>
		 <% @teachers.each do |teacher| %>
			 <li class='list-item'>
	 			<img src='' alt=''>
	 			<div class='information'><%= teacher.name %></div>
	 		</li>
		 <% end %>
		 <% end %>
	</ul>
</div>
