<%= render 'navbar' %>

<div class='container'>
	<section class='slider'>
		SLIDER
	</section>
	<section class='serch-field'>
		<%= render 'sercher' %>
	</section>

	<div class='left'>
	</div>
	<div class='right'>
		<section class='teachers'>
			<%= render 'teachers'%>
		</section>

		<section class='students'>
			<%= render 'students'%>
		</section>

		<section class='informs'>
			INFORMATIONS
		</section>
	</div>

	<div class='bottom'>

	</div>

</div>

<div class='bottom-nav'>
</div>
