//bounds
$primary-width: 980px;
$nav-width: 100%;
$nav-height: 80px;
$wide-margin: 20px;
$narrow-margin: 10px;
$wide-padding: 20px;
$narrow-padding: 10px;
$btn-width: 100px;
$btn-height: 45px;
$default-radius: 5px;
$wide-radius: 10px;
$left-proportion: .3;
$right-proportion: .7;

//fonts
$small-fonts-size: 10px;
$middle-fonts-size: 20px;
$big-fonts-size: 30px;
$light-fonts-color: fff;
$dark-fonts-color: rgb(32, 33, 34);
$grey-font-color: grey;

// color
$primary-bgcolor: rgb(43, 43, 45);
$blue: rgb(62, 175, 217);
$green: #5cb85c;
$notice: rgb(238, 110, 63);
$star: rgb(255, 188, 87);
$grey: #eaeaea;

//border
$default-border: 1px solid white;
$input-border: 1px solid #777;
$grey-border: 1px solid $grey;
$wide-border: 3px solid $grey;
$blue-border: 1px solid $blue;
$red-border: 1px solid red;
$green-border: 1px solid $green;
$wide-green-border: 3px solid $green;
$notice-border: 1px solid $notice;
$bottom-border: 3px solid $green;

//functions
@mixin set-bounds ($width: 100%,$height:100%)
{
    width: $width;
    height: $height;
}
@mixin set-width-min-height ($width: 100%,$min-height: 100%)
{
    width: $width;
    min-height: $min-height;
}
@mixin set-left-panel-bounds
{
    width: $primary-width*$left-proportion - $wide-margin;
}
@mixin set-right-panel-bounds
{
    width: $primary-width*$right-proportion;
}
@mixin set-lefy-panel-height
{
}
@mixin set-teacher-box-bounds
{
    width: ($primary-width*$right-proportion - 2*$wide-padding - 3*$wide-margin)/4;
    height: ($primary-width*$right-proportion - 2*$wide-padding - 3*$wide-margin)/4;
}
@mixin set-course-box-bounds
{
    width: ($primary-width - 2*$wide-padding - 3*$wide-margin)/4;
    height: ($primary-width - 2*$wide-padding - 3*$wide-margin)/6;
}
