$primary-width: 1100px;
$primary-bgcolor: rgb(43, 43, 45);
$nav-width: 100%;
$nav-height: 150px;
$wide-margin: 20px;
$narrow-margin: 10px;
$wide-padding: 20px;
$narrow-padding: 10px;
$btn-width: 100px;
$btn-height: 50px;
$small-fonts-size: 10px;
$middle-fonts-size: 20px;
$big-fonts-size: 30px;

// color
$pink: rgb(246, 104, 90);
$blue: rgb(62, 175, 217);
$green: rgb(56, 226, 109);
$mint-green: rgb(37, 217, 152);
$orringe: rgb(238, 142, 63);
$yellow: rgb(247, 255, 87);
$purple: rgb(152, 110, 247);
$grey: rgb(159, 162, 162);
