<table class='table'>
	<thead>
		<tr>
			<td>name</td>
			<td>teacher</td>
			<td>type</td>
		</tr>
	</thead>
	<tbody>
		<% if !@course.nil? %>
		  <tr>
			 <td><%= @course.name %></td>
		     <td><%= @course.tutor %></td>
			 <td><%= @course.category %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
