@import 'base/base';
.container
{
    position: relative;

    width: $primary-width;
    margin: $wide-margin;
    padding: 0;
    .slider-box
    {
        overflow: hidden;

        margin: $wide-margin auto;

        background-color: rgb(57, 57, 57);

        @include set-bounds(100%,400px);
        .carousel
        {
            .carousel-inner
            {
                .item
                {
                    img
                    {
                        @include set-bounds($primary-width,100%);
                    }
                }

                .carousel-control
                {
                    display: none;
                }
                &:hover .carousel-control
                {
                    display: inline-block;
                }
            }
        }
    }
    section
    {
        margin-bottom: $wide-margin;

        color: white;
        border-radius: $default-radius;

        @include set-width-min-height(100%,200px);
        // box-shadow: 5px 5px $narrow-margin $grey;
    }
    .serch-field
    {
        padding: $narrow-padding;

        background-color: $pink;
        div.condition-group
        {
            width: 100%;
            .condition-header
            {
                width: 100%;
                height: 50px;

                @include set-bounds(100%,50px);
            }
            .condition-menu
            {
                width: 100%;
                .father-condition
                {
                    position: relative;

                    display: block;

                    width: 100%;
                    margin: 0;

                    text-align: left;

                    border: $default-border;
                    label
                    {
                        font-size: $middle-fonts-size;

                        float: left;

                        margin: $narrow-margin;
                        padding: $narrow-padding;
                    }
                    .clearfix
                    {
                        width: 90%;
                        margin: auto;
                    }
                    .all-condition
                    {
                        float: left;

                        padding: $narrow-padding;
                    }
                    .son-condition
                    {
                        width: 90%;
                        padding: $narrow-padding;
                    }
                    .condition-item
                    {
                        font-size: $small-fonts-size;

                        padding: $narrow-padding;

                        text-align: center;

                        border: $default-border;
                        &:hover
                        {
                            cursor: pointer;

                            color: $green;
                        }
                    }
                }
            }
        }
    }
    .left-panel
    {
        float: left;

        margin: 0 $wide-margin $wide-margin 0;

        border-radius: $default-radius;
        background-color: $mint-green;

        @include set-bounds( $primary-width - .75*($primary-width)-$wide-margin,700px);
    }

    .right-panel
    {
        float: right;

        width: 75%;
        .teachers
        {
            background-color: $green;
        }
        .students
        {
            background-color: $blue;
        }
        .informs
        {
            background-color: $grey;
        }
    }
    .informs
    {
        width: 100%;

        background-color: $grey;
        .panel
        {
            // float: left;
            width: ($primary-width - 2*$wide-margin)*.33;

            text-align: left;

            border: $default-border;
            &:nth-child(1),
            &:nth-last-child(2),
            {
                margin-right: $wide-margin;
            }
            .header
            {
                font-size: $big-fonts-size;

                padding: $narrow-margin;

                border-bottom: $default-border;

                @include set-width-min-height(100%,50px);
            }
            .body
            {
                @include set-width-min-height(100%,200px);
                ul
                {
                    li
                    {
                        width: $primary-width/3 - 2*$wide-margin;
                        margin: $narrow-margin $narrow-margin 0;
                        padding: $narrow-padding;

                        background-color: $blue;
                    }
                }
            }
        }
    }
    .box-header
    {
        text-align: left;

        @include set-width-min-height(100%,50px);

        h2
        {
            width: 50%;
            margin: 0;
            padding: $narrow-padding;

            border-bottom: $default-border;
        }
    }
    .box-body
    {
        width: 100%;
        .collection
        {
            margin: auto;
            .list-item
            {
                float: left;

                margin: $wide-margin;

                border: $default-border;
                background-color: white;

                @include set-bounds(200px,200px);
                img
                {
                    background: $yellow;

                    @include set-bounds(100%,80%);
                }
                .information
                {
                    background-color: $purple;

                    @include set-bounds(100%,20%);
                }
            }
        }
    }
}
