// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/base";

.handbook {
  padding: $wide-padding;
  border: $default-border;

  .content {
    min-width: 300px;
    min-height: 300px;
  }

  .control-group {
    display: block;
    margin-top: 4 * $wide-margin;
    text-align: center;

    .field {
      display: block;
      color: $green;

      input:hover,
      label:hover {
        cursor: pointer;
        color: $green - 10;
      }
    }

    button {
      margin: $narrow-margin;
    }
  }
}
