<div class='course_tab'>
	<ul id='course-tab' role="tablist">
		<li role="presentation" class="active"><a href="#all" role="tab" data-toggle="tab">全部课程</a></li>
		<li role="presentation"><a href='#now' role="tab" data-toggle="tab">进行中</a></li>
		<li role="presentation"><a href='#over' role="tab" data-toggle="tab">已结课</a></li>
		<li role="presentation"><a href="#appoint" role="tab" data-toggle="tab">我的预约</a></li>
	</ul>
</div>
